# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# PyCharm / IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp